* {
    background-color: #e0fbfc;
    font-family: "Recursive";
    text-align: center;
    color: #5c6b73;
}
h1 {
    width: 350px;
}

img {
    height: 75px;
    width: 75px;
}

p {
    line-height: 0px;
    margin-left: 10px;
}

.labels {
    display: flex;
    display: inline-block;
}

#easyMode {
    height: 30px;
    width: 30px;
}
